/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes move-arrow {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(4px); 
  }
}

@keyframes filling {
    0%  {
        background-color: var(--main-color);
        width: 0%;
    }

    50% {
        color: rgba(100, 255, 100, 0.6); 
      }

    100% {
        background-color: var(--main-color);
        width: 100%;

    }
}

@keyframes color-blend {
    0% {
      color: var(--main-color); 
      mix-blend-mode: difference; 
    }
   
    100% {
      color: var(--bg-color); 
      mix-blend-mode: normal; 
    }
  }


  @keyframes scale-heart {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }


  @keyframes sparks {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
      
  }