/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'Press Start 2P', serif; 
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-size-heading: clamp(49px, 4.5vw, 65px);
    --line-height-heading: clamp(49px, 4.5vw, 65px);
    --font-size-subtitle: clamp(14px, 2vw, 23px); 
    --line-height-subtitle: clamp(14px, 2vw, 23px); 
    --bg-color: rgba(255, 255, 255, 1);
    --bg-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px, 
      rgb(0 0 0 / 0) 2px 4px

      ), 

    repeating-linear-gradient(
      180deg, #d3d3d3 0 2px, 
      rgb(0 0 0 / 0) 2px 4px

      ), 

    linear-gradient(
      180deg,
      #e7e7e7 0%, 
      #e7e7e7 0.01%, 
      #1a1a1a 100%
      );
  
    --main-color: rgba(0, 0, 0, 1);
    --main-color-opacity: rgba(0, 0, 0, 0.5);
    --text-stroke: 1px rgba(255, 255, 255, 0.5); 
    --label-color: rgba(255, 255, 255, 0.5); 
    --text-button-color: rgba(255, 255, 255, 1);
    --outline-color: rgba(0, 0, 0, 1); 
    --fill-color: rgba(255, 0, 0, 1);
  
  }

  @media (max-width: 375px) {
    :root {
      --font-size-heading: 49px;
      --line-height-heading: 49px;
      --font-size-subtitle: 14px;
      --line-height-subtitle: 14px; 
    }
  }

  @media (min-width: 376px) and (max-width: 1439px) {
    :root {
        --font-size-heading: clamp(49px, 4.5vw, 65px); 
        --line-height-heading: clamp(49px, 4.5vw, 65px);
        --font-size-subtitle: clamp(14px, 2vw, 23px);
        --line-height-subtitle: clamp(14px, 2vw, 23px);
    }
}
  
  @media (min-width: 1440px) {
    :root {
        --font-size-heading: 65px; 
        --line-height-heading: 65px;
        --font-size-subtitle: 23px;
        --line-height-subtitle: 23px;

    }
  }





