/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-main: 'Inter-Variable', sans-serif;
    --font-accent: 'Press Start 2P', serif; 
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --font-size-heading: clamp(49px, 4.5vw, 65px);
    --line-height-heading: clamp(49px, 4.5vw, 65px);
    --font-size-subtitle: clamp(14px, 2vw, 23px); 
    --line-height-subtitle: clamp(14px, 2vw, 23px); 
    --bg-color: rgba(255, 255, 255, 1);
    --bg-image: 
    repeating-linear-gradient(
        90deg,
        #d3d3d3 0px, 
        transparent 2px
    ),

    repeating-linear-gradient(
        0deg,
        #d3d3d3 0px, 
        transparent 2px
    ),

    linear-gradient(
        to bottom,
        #e7e7e7 0.01%, 
        #1a1a1a 100%
    );

    --main-color: rgba(0, 0, 0, 1);
    --main-color-opacity: rgba(0, 0, 0, 0.5);
    --text-stroke: 1px rgba(255, 255, 255, 0.5); 
    --outline-color: rgba(0, 0, 0, 1); 
    --fill-color: rgba(255, 0, 0, 1);
    --dialog-dynamic-padding: 
    clamp(30.5px, 2vw, 31.5px) 
    clamp(32.5px, 3vw, 42px)    
    clamp(30.5px, 2vw, 32px)  
    clamp(31.5px, 2.5vw, 42px); 
    --footer-margin-top: clamp(52px, calc(52px + (2 * (100vw - 375px) / (1440 - 375))), 54px);
    --footer-margin-bottom: clamp(100px, calc(100px + 3 * ((100vw - 375px) / 1065)), 103px);

  
  
  }

  @media (max-width: 375px) {
    :root {
      --font-size-heading: 49px;
      --line-height-heading: 49px;
      --font-size-subtitle: 14px;
      --line-height-subtitle: 14px; 
    }
  }

  @media (min-width: 376px) and (max-width: 1439px) {
    :root {
        --font-size-heading: clamp(49px, 4.5vw, 65px); 
        --line-height-heading: clamp(49px, 4.5vw, 65px);
        --font-size-subtitle: clamp(14px, 2vw, 23px);
        --line-height-subtitle: clamp(14px, 2vw, 23px);
    }
}
  
  @media (min-width: 1440px) {
    :root {
        --font-size-heading: 65px; 
        --line-height-heading: 65px;
        --font-size-subtitle: 23px;
        --line-height-subtitle: 23px;

    }
  }





